<header>
  <img class="logo" src="/assets/image/alura.svg" alt="LogoDeAlura" width="80px" height="45px">
</header>
<main>
  <section>
    <textarea class="txtArea" name="" id="" cols="30" rows="10" placeholder="Ingrese el texto aqui"></textarea>
    <div>
      <h6 class="informacion">Solo letras minusculas y sin acento</h6>
    </div>
    <div class="botones">
      <button class="Btn_Encriptar">Encriptar</button>
      <button class="Btn_Desencriptar">Desencriptar</button>
    </div>
  </section>
  <section>
    <textarea class="mensaje" name="" id="" cols="20" rows="10"></textarea>
    <div>
      <button class="btn_copiar">Copiar</button>
    </div>
  </section>
</main>
